doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/public/styles/semantic.min.css')
    link(rel='stylesheet', href='/public/styles/index.css')
  body

    .container
      //- toplevel grid
      .ui.stackable.grid
        .middle.aligned.row
          //- lefthand side column
          .five.wide.column

            .ui.grid#info(style="transform: scale(0.9); -moz-transform: scale(0.9); -webkit-transform: scale(0.9); margin-top: -15px") //- lefthand inner grid
              .row //- latin quote
                .column
                  center
                    q
                      span.quote Aut viam inveniam aut faciam
                    p I will either find a way or make one.

              .row // - picture
                .column
                  center
                    img.rounded(height="196", width="216", src="/public/images/jackie.jpg")

              .row //- name
                .column
                  center
                    h1 Jacqueline Kwan

              .row //- description
                .column
                  center
                    p Nineteen years young.
                    p Aspiring financial consultant.

            .ui.grid
              .row
                .column
                  center
                      iframe#map(frameBorder='0',src='https://a.tiles.mapbox.com/v4/fcangial.j0b0in7e/attribution.html?access_token=pk.eyJ1IjoiZmNhbmdpYWwiLCJhIjoiSEE2NW84ayJ9.I_SmNeUGjd30kkUHN9hPVA#0/30.4/7.6')

          //- righthand side column
          .eleven.wide.column
              .ui.grid
                .row#wall
                  .column
                    #masonry

                      - bricks.forEach(function(brick) {
                          - if (brick.type == 'tweet') {
                              .item.tweet
                                a(href="https://twitter.com/eternallyjackie"): img.profile(src=brick.profile_image)
                                span!= brick.text
                          - } else {
                              .item.insta
                                a(href=brick.link): img(src=brick.thumbnail,height="150",width="150")
                          - }
                      - });
                .one.column.row#skinny
                  .column
                    center: .circles
                      a(href="mailto:jkwan@terpmail.umd.edu")
                        i.circular.twitter.large.icon.link.icon
                      a(href=" www.linkedin.com/pub/jacqueline-kwan/80/452/88/")
                        i.circular.instagram.large.icon.link.icon
                      a(href="mailto:jkwan@terpmail.umd.edu")
                        i.circular.mail.large.icon.link.icon
                      a(href=" www.linkedin.com/pub/jacqueline-kwan/80/452/88/")
                        i.circular.linkedin.large.icon.link.icon
                      a(href="http://facebook.com/eternallyjackie")
                        i.circular.facebook.large.icon.link.icon
                      a(href="/Resume_JKwan.pdf")
                        i.circular.suitcase.large.icon.link.icon

  script(src="/public/js/jquery.min.js")
  script(src="/public/js/semantic.min.js")
  script(src="/public/js/imagesloaded.pkgd.js")
  script(src="/public/js/masonry.pkgd.js")
  script.
    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
  script.
    var set_heights = function() {
      var wall_height = Math.floor($(window).height() * .84);
      var map_height = Math.floor($(window).height() * .32);
      $('#wall').css({
          'overflow-x' : 'hidden',
          'overflow-y' : 'scroll',
          'height' : wall_height + "px"
        });
      $('#map').css({
          'height' : map_height + "px"
        });
    }
    $(document).ready(function() {
      set_heights();
      $(window).on('resize', set_heights);
    });
    var container = document.querySelector('#masonry');
    var msnry;
    imagesLoaded(container, function() {
      msnry = new Masonry(container, {
        itemSelector: '.item',
        'gutter' : 10,
        'columnWidth' : '.insta'
      });
    });
