doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/public/styles/semantic.min.css')
    link(rel='stylesheet', href='/public/styles/index.css')
  body

    .container(style="margin-top:10px")
      //- toplevel grid
      .ui.stackable.grid 
        .middle.aligned.row
          //- lefthand side column
          .five.wide.column 

            .ui.grid  //- lefthand inner grid
              .row //- latin quote
                .column
                  center
                    q
                      span.quote Aut viam inveniam aut faciam
                    p I will either find a way or make one.

              .row // - picture
                .column
                  center
                    img.rounded(height="236", width="260", src="/public/images/jackie.jpg")

              .row //- name
                .column
                  center
                    h1 Jacqueline Kwan

              .row //- description
                .column
                  center
                    p Nineteen years young.
                    p Aspiring financial consultant.

              .row //- icons
                .column
                  center
                    a(href="mailto:jkwan@terpmail.umd.edu")
                      i.circular.mail.large.icon.link.icon
                    a(href=" www.linkedin.com/pub/jacqueline-kwan/80/452/88/")
                      i.circular.linkedin.large.icon.link.icon
                    a(href="http://facebook.com/eternallyjackie")
                      i.circular.facebook.large.icon.link.icon
                    a(href="/Resume_JKwan.pdf")
                      i.circular.suitcase.large.icon.link.icon

          //- righthand side column
          .eleven.wide.column
            .ui.grid
              .middle.aligned.three.column.row
                .column
                  i.twitter.large.icon.link.icon
                .column
                  center: span.handle @eternallyjackie
                .column
                  i.instagram.large.icon.link.icon(style="float: right;")
              .ui.grid
                .row
                  .column
                    #masonry
                      - bricks.forEach(function(brick) {
                          - if (brick.type == 'tweet') {
                              - if('media' in brick) { // contains a pic
                                .item.tweet
                                  i.twitter.icon.topright
                                  p= brick.created_at
                                  center
                                    img(src=brick.media,height="150",width="150")
                                  p= brick.text
                                  center
                                    span
                                      .ui.label
                                        i.comment.icon
                                        =brick.retweet_count
                                      .ui.label
                                        i.heart.icon
                                        =brick.favorite_count
                              - } else { // only text
                                .item.tweet
                                  i.twitter.icon.topright
                                  p= brick.created_at
                                  p= brick.text
                                  center
                                    span
                                      .ui.label
                                        i.comment.icon
                                        =brick.retweet_count
                                      .ui.label
                                        i.heart.icon
                                        =brick.favorite_count
                              - }
                          - } else { // twitter {
                              .item.insta
                                i.instagram.icon.topright
                                p= brick.created
                                center
                                  a(href=brick.link): img(src=brick.thumbnail)
                                p= brick.text
                                center
                                  span
                                    .ui.label
                                      i.comment.icon
                                      =brick.numComments
                                    .ui.label
                                      i.heart.icon
                                      =brick.numLikes
                          - }
                      - });
                      iframe.stamp(frameBorder='0',src='https://a.tiles.mapbox.com/v4/fcangial.j0b0in7e/attribution,zoompan.html?access_token=pk.eyJ1IjoiZmNhbmdpYWwiLCJhIjoiSEE2NW84ayJ9.I_SmNeUGjd30kkUHN9hPVA')
      .ui.grid
        .sixteen.wide.column.copyright
          center: p &copy; Jacqueline Kwan

  script(src="/public/js/jquery.min.js")
  script(src="/public/js/semantic.min.js")
  script(src="/public/js/imagesloaded.pkgd.js")
  script(src="/public/js/masonry.pkgd.js")
  script.
    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
  script.
    var container = document.querySelector('#masonry');
    var msnry;

    imagesLoaded(container, function() {
      msnry = new Masonry(container, {
        itemSelector: '.item',
        'stamp' : '.stamp',
        'gutter' : 6
      });
    });